body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-bg {
  background-image: url(../resources/stone.png) !important;
  background-repeat: repeat !important;
  background-size: 500px 500px !important;
}